<div >
    <div class="modal-header">
        Log Action
    </div>
    <div class="modal-body">
        <label for="logSelect">Choose log type: </label>
        <select
                ng-options="option.name for option in $ctrl.data.logType track by option.id"
                ng-model="$ctrl.selectedType"
                ng-change="$ctrl.getResourceTypes($ctrl.selectedType)"
                name="logSelect"
                id="logSelect"
                required>
        </select>

        <div ng-show="$ctrl.resourceModel.id != 0">
            <ng-form id="modal_component_resource_form">

                <div class="row">
                    <div class="col-xs-3" style="margin-top: 20px;">
                        <h4>Autocomplete: </h4>
                    </div>
                    <div class="col-xs-6">
                        <label for="trackable_id"></label>
                        <input
                                id="trackable_id"
                                type="text"
                                ng-model="$ctrl.resourceModel.trackable_id"
                                uib-typeahead="type for type in $ctrl.resourceModel.trackable_type.types | filter:$viewValue | limitTo:8"
                                class="form-control"/>
                    </div>
                </div>

                <h4>Choose a Date and Time: </h4>
                <div class="row">
                    <div class="col-xs-6">
                        <p class="input-group" style="margin-top: 34px;">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="$ctrl.datetime" ng-change="$ctrl.changeDateTime()" is-open="$ctrl.calendarOpened" datepicker-options="$ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.openCalendar()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>
                    </div>
                    <div class="col-xs-6">
                        <div
                                uib-timepicker
                                ng-model="$ctrl.datetime"
                                ng-change="$ctrl.changeDateTime()"
                                hour-step="1"
                                minute-step="5">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-3">
                        <label for="duration">Duration: </label>
                        <select
                                style="width: 100px;"
                                ng-options="option for option in $ctrl.duration"
                                ng-model="$ctrl.resourceModel.duration"
                                name="duration"
                                id="duration">
                        </select>
                    </div>
                    <div class="col-xs-6">
                            <label for="description">Description:</label>
                            <textarea
                                    id="description"
                                    ng-model="$ctrl.resourceModel.description"
                                    style="width: 180px;"
                                    required>
                            </textarea>
                    </div>
                </div>
            </ng-form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" data-ng-click="$ctrl.ok()">Save</button>
        <button class="btn btn-error" data-ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</div>